{% extends "base.html" %}

{% block content %}
<div class='col-12 col-md-10 mb-3 mx-auto'>
    <h1>Add ingredients:</h1>
    <form method='POST' enctype='multipart/form-data'> {% csrf_token %}
        {{ form.as_p }}
        <div class="btn-group btn-group-sm">
            <button class="btn btn-dark" type='submit'> Add Ingredient </button>
            <a href='/' class="btn btn-outline-dark" role='button' aria-pressed="true"> Search for a Recipe </a>
            <a href='/recipes-create/' class="btn btn-outline-dark" role='button' aria-pressed="true"> Proceed to Recipe Create Form </a>
        </div>
    </form> 
</div>
{% endblock %}