{% extends "base.html" %}

{% block content %}

<h1>Add ingredients - Create a recipe:</h1>

<form method='POST' enctype='multipart/form-data'> {% csrf_token %}
    {{ form.as_p }}
    <div>
        <button type='submit'> Add Ingredient </button>
    </div>
    <div class="btn-group btn-group-sm">
        <button>
            <a href='/'> Search for a Recipe </a>
        </button>
        <button>
            <a href='/recipes-create/'> Proceed to Recipe Create Form </a>
        </button>
    </div>
</form> 

{% endblock %}