{% extends "base.html" %}

{% block content %}
<div class='col-12 col-md-10 mb-3 mx-auto'>
    <h1>Select your ingredients:</h1>
    <p> select the ingredients which you already have to generate a list of potential recipes. </p>
    <p> is your ingredient missing? 
        <a href='/ingredients-add/'> Click here to add ingredients </a>
    </p>

    <form method='POST' action='.' enctype='multipart/form-data'> {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark" type='submit'>Submit</button>
    </form> 
</div>
{% endblock %}